#svgbuttons {
    height: 40px;
    width: 40px;
    border: white;
    margin: 0;
    padding: 0;
    background-color: white;
}
#svgbuttonss {
   padding: 10px;
   
}

#navext {
    margin-bottom: 10%;
    margin-top: 1%;
}

#navbarcustom {
    border: white;
background: white;
}

#navbuttons {
    border-radius: 20px;
    text-align: auto;
    position: relative;
    margin-left: 1%;
    margin-bottom: 2%;
}

#modalform {
background-color: white;
}


#modalpos {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    height: 50%;
    width: 40%;


}

#inmodalpos {
    margin-top: 10%;

}

A {
    color:rgb(44, 43, 49); /* Цвет ссылок */
   }
   A:visited {
    color: rgb(44, 43, 49); /* Цвет посещенных ссылок */
   }
   A:active {
    color: rgb(44, 43, 49); /* Цвет активных ссылок */
   }
   A:hover {
    color: rgb(10, 10, 12);
    text-decoration: none;
   }