.App {
  min-height: 50vh;
  background-size: cover;
}

h2 {
  font-size:40px;
  color:#FF0000;
  text-shadow: 1px 0 1px #000, 
  0 1px 1px #000, 
  -1px 0 1px #000, 
  0 -1px 1px #000;
}

h1 {
  font-size:10px;
  left:100px;
}

h3 {
  font-size:2px;
}

#skidki {
  position: relative;
  top: 100px;
}

img {
  max-height: 35vh;
  max-width: 35vh;
}

#heart {
  max-height: 7vh;
  max-width: 7vh;
  margin-right: 30px;
}

#profile {
  max-height: 10vh;
  max-width: 10vh;
  margin-right: 100px;
}

#search {
  max-height: 7vh;
  max-width: 7vh;
  margin-right: 5px;
}

#searchBar {
  min-width: 120vh;
}

#searchBar {
  margin-right: 100px;
  top: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  width: 300px;
  height: 400px;
  background: black;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
  height: 100%;
  right: 50px;
  display: flex;
  align-items: center;
  align-content: center; 
  overflow: auto;   
}