#mainstyles {
    margin-bottom: 5%;
}

.arrup{
    position: fixed;
    bottom: 4%;
    right: 2%;
}

.transpbut {     
    background-color: transparent;
    border: none !important;
    overflow: hidden;
    outline: 0 !important;
    outline-offset: 0 !important;
}

.backcolors.carsl {
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 10px;
}

.backcolors.out {
    background-color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 10px;
}

.backcolors.intro{
    background-color: rgb(63, 62, 62);
    border-radius: 10px;
}

.backcolors.intro.text{
    font-size: 16px;
    text-align: left;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 55%;
    color: white;
}

.backcolors.intro.details {
    color: white;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.backcolors.social {
    background-color: rgb(206, 84, 84);
    border-radius: 10px;

}

.backcolors.social.is {
    color: white;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
  
}

.backcolors.social.text{
    font-size: 16px;
    text-align: left;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 55%;
    color: white;
}

#buttpos {
    position: relative;
    border-radius: 20px;
    margin-bottom: 3%;
    margin-left: 4%;
}

#centrirovanie {
    bottom: 50%;
}

#centrirovanie1 {
    height: 100%;
}

a:link {
    color: rgb(44, 43, 49); /* Цвет ссылок */
}